.form-name{
    margin-top: 1rem;
}
.row-gender{
    display: flex;
   gap: 2rem;
  padding-top: 1rem;
}
.form-check{
    margin-left: 3rem;
}.form-pin{
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
}.form-center{
    display: flex;
}.btn-size{
    padding: 10px 50px;
    margin-right: 1rem;
}.btn-row{
    margin-top: 5rem;
    margin-left: 30rem;
}.container{
    background-color: antiquewhite;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 0px 18px;
    border-radius: 1rem;
}